<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Verify Your Email</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
<table width="100%" style="max-width: 600px; margin: auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
    <tr>
        <td style="padding: 30px; text-align: center;">
            <h2 style="color: #333;">Verify Your Email Address</h2>
            <p style="font-size: 16px; color: #555;">Hello,</p>
            <p style="font-size: 16px; color: #555;">
                Here is your OTP code to verify your account:
            </p>
            <div style="margin: 20px 0;">
          <span th:text="${otp}"
                style="display: inline-block; font-size: 28px; letter-spacing: 5px; font-weight: bold; color: #FF8900;">
            000000
          </span>
            </div>
            <p style="font-size: 14px; color: #888;">
                This OTP will expire in 5 minutes. Please do not share it with anyone.
            </p>
            <p style="margin-top: 30px; font-size: 14px; color: #999;">
                Sincerely,<br/>
                For any inquiries, please contact: Intern_Batch19
            </p>
        </td>
    </tr>
</table>
</body>
</html>